.registration
  .container
    .form
      %h1.login_header
        Registration
      %p{style: "color: red"} 
        I need to remake it with react!!! Fucking validation!!!
      
      = form_for(:user, url: '/users') do |f|
        = f.email_field :email, placeholder: "Email"
        = f.text_field :username, placeholder: 'Name', required: true
        = f.password_field :password, placeholder: "Password"
        = f.password_field :password_confirmation, placeholder: "Password Confirmation"
        = f.submit "Sign Up", class: "btn-submit"

      %ul.social-networks
        %li.social_item
          = link_to user_vkontakte_omniauth_authorize_path, class: "vk-network" do
            .link_content
              = image_tag "vk.png", :alt => "vk"
